<!DOCTYPE html>
<html>
  <head>
    <title>VueTrello</title>
    <%= render 'shared/head' %>
  </head>

  <body>
    <%= render 'shared/nav' %>
    <%= render 'shared/notices' %>
    <div class="container-fluid mt-5">
      <%= yield %>
    </div>
  </body>
</html>
